.Product {
  padding: 1em;
  padding-bottom: 20pt;
  margin: 2pt;
  background-color: lightgrey;
  color: darkslategrey;
}

.ProductHeader {
  font-size: 12pt;
  font-weight: bolder;
  color: blue;
}

.ProductDescription {
  margin-top: 4pt;
  border: 1pt;
  border-color: black;
  color: darkslategrey;
}

.BasketAddLink {
  margin-top: 4pt;
  font-size: 8pt;
  float: right;
  text-align: right;
  color: rgb(45, 90, 0);
  font-weight: bolder;
}
